# this is  a PANDAS Notebook

## PANDAS stands for Panel Data Analysis

#### How to install Packages

In [6]:
# pip install pandas
# Pip install numpy

### Importing Libraries

In [7]:
import numpy as np
import pandas as pd

In [9]:
# Object Creation
# Series in Pandas

s= pd.Series([1,2,3,4,5,np.nan,6])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
dtype: float64

In [24]:
dates = pd.date_range("20220101",periods=5)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05'],
              dtype='datetime64[ns]', freq='D')

In [27]:
date_frame = pd.DataFrame(np.random.randn(5,4), index=dates , columns=list("ABCD"))
date_frame

                   A         B         C         D
2022-01-01 -0.006634  0.687345 -0.071111 -0.141470
2022-01-02  0.752658 -0.399843  0.064804  1.251306
2022-01-03  0.323977 -1.503327  0.365672 -1.606815
2022-01-04  0.196394  1.746556 -0.142580 -1.722246
2022-01-05 -1.032036  1.591625  1.628902  0.783105