In [44]:
# SERIES in PANDAS // one of the 3 data structures in Pandas
# other tow are PANEL and DATA FRAMES

import pandas as pd
import numpy as np


s = pd.Series(np.random.random_sample(100),copy=True)
s

0     0.926958
1     0.103857
2     0.459342
3     0.946728
4     0.955058
        ...
95    0.429682
96    0.725151
97    0.124001
98    0.361931
99    0.833071
Length: 100, dtype: float64

In [22]:
# An Empty Series

import pandas as pd
s = pd.Series(dtype="object")
s

Series([], dtype: object)

In [27]:
# Creating a Series with Dictionary as data 
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
ind= ['c',2,'a']
s= pd.Series(data,index=ind)
s

c    2.0
2    NaN
a    0.0
dtype: float64

#### NOTE : Index order is persisted and the missing element is filled with NaN (Not a Number) in the above code snippet.

In [28]:
# If data is a scalar value, an index must be provided. The value will be repeated to match the length of index

import pandas as pd
import numpy as np

s=pd.Series(5,index=[1,2,3,4,5])
s

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [34]:
#  Retreiving data from a pandas Series 

import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

print(s['a']) # retrieving it with customized index
print(s[4]) # retrieving it with conventional index

1
5

In [43]:
#  Slicing data from a pandas Series 

import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

s[-3:-1]

c    3
d    4
dtype: int64

### Data Frame in Pandas

In [54]:
import pandas as pd
import numpy as np

s=pd.Series([[1,2,3,4,5],[9,8,7,6,5,4]])
df=pd.DataFrame(s)
df

                    0
0     [1, 2, 3, 4, 5]
1  [9, 8, 7, 6, 5, 4]

#### A pandas DataFrame can be created using various inputs like âˆ’

- Lists
- dict
- Series
- Numpy ndarrays
- Another DataFrame